flask==3.0.3
requests==2.32.3
Werkzeug==3.0.3
flask-bootstrap==3.3.7.1
pytz==2024.1
gunicorn==22.0.0
# gevent # does not work
cloud-sql-python-connector[pg8000]==1.10.0
SQLAlchemy==2.0.7
elevenlabs==1.3.1
google-cloud-storage==2.17.0
langchain==0.2.6
langchain-openai==0.1.13